<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Stock</title>
</head>
<body>
    <h1>Add Stock Form</h1>
    <form method="post">
        stock_number: <input type="text" name="stock_number"><br>
        Purchased Price: <input type="text" name="purchased_price">円<br>
<!--        current_price: <input type="text" name="current_price">円<br>-->
        shares: <input type="text" name="shares">株<br>
<!--        dividend_per_share: <input type="text" name="dividend_per_share"><br>-->
        <input type="submit" value="Calculate">
    </form>
</body>
</html>